@import url('project-vars.css');
@media (max-width: 38.5em) {
  .user-buttons {
    padding-top: 2em;
    text-align: left;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: var(--side-bar-color);
    transition: right 0.3s ease-in-out;
    z-index: 1;
    border-left: 1px gray solid;
    /* transition: none; */
  }

  nav>a {
    display: block;
    max-width: 60%;
  }

  .dark .user-buttons {
    background-color: var(--side-bar-color-dark);
  }

  .user-buttons.open {
    right: 0;
  }

  #summary {
    display: block;
    width: 80%;
    margin: 0 auto;
  }

  main {
    display: block;
    /* place-items: center; */
  }
}