@import 'colors.css';

@media (max-width: 849px) {
  #divider {
    border-bottom: 1px rgb(205, 205, 205) solid;
  }

  body {
    width: 100%;
    margin: 0;
    padding-left: 10%; /* Adjust this value to change the width of the left/right borders */
    padding-right: 10%;
    box-sizing: border-box;
  }
  
  body::before,
  body::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    width: 10%; /* Adjust this value to change the width of the left/right borders */
    background-color: var(--tertiary-color); /* Set the color of the left/right borders */
    z-index: -1;
  }
  
  body::before {
    left: 0;
  }
  
  body::after {
    right: 0;
  }
}