body {
  font-family: 'Roboto', Calibri, sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

header, main, footer {
  margin: 1rem auto;
  border: 1px gray solid;
  padding: 20px;
  background-color: rgb(80, 80, 235);
  max-width: 640px;
}

section {
  padding: 20px;
  background-color: white;
}

@media screen and (min-width: 500px) {
  header {
    background-color: black;
    color: white;
  }

  main {
    grid-template-columns: 1fr 1fr;   
  }
}